name: Android CI

on:
  push:
    branches: [ "main"]
  workflow_dispatch: {}

jobs:
  build:
    if: github.ref == 'refs/heads/main' || github.event_name == 'workflow_dispatch'
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          cache: gradle

      # Pokud chceš bez wrapperu:
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: 8.7

      - name: Verify Gradle
        run: gradle -v

      # Build bez wrapperu
      - name: Build Debug
        run: gradle --no-daemon assembleDebug

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: blindDetection-debug-apk
          path: app/build/outputs/apk/debug/*.apk
